# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${HOME}/sources/meta-droneOS \
    ${HOME}/sources/meta-nodejs \
    ${HOME}/sources/meta-nodejs-contrib \
    ${HOME}/sources/meta-openembedded \
    ${HOME}/sources/meta-qt5 \
    ${HOME}/sources/meta-qt5-extra \
    ${HOME}/sources/meta-raspberrypi \
    ${HOME}/sources/meta-swupdate \
    ${HOME}/sources/poky \
  "
