# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${HOME}/sources/meta \
    ${HOME}/sources/meta-poky \
    ${HOME}/sources/meta-openembedded/meta-oe \
    ${HOME}/sources/meta-openembedded/meta-multimedia \
    ${HOME}/sources/meta-openembedded/meta-networking \
    ${HOME}/sources/meta-openembedded/meta-python \
    ${HOME}/sources/meta-qt5 \
    ${HOME}/sources/meta-raspberrypi \
    ${HOME}/sources/meta-droneOS \
  "
